SD2/SimpleMiner/Temporary/
SD2/SimpleMiner/Run_Win32/Data/Saves
SD2/SimpleMiner/Run_Win32/Data/BackupSave
SD2/SimpleMiner/Ladder World/Data/Saves
SD2/SimpleMiner/Stairs World/Data/Saves
SD2/SimpleMiner/Village & Dimension Demo/Data/Saves